---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import TechStack from '../components/TechStack.astro';
import AboutMe from '../components/AboutMe.astro';
import Footer from '../components/Footer.astro';

const projects = [
  {
    title: "Sistema de Inventario SERVIU",
    description:
      "Aplicación web diseñada para gestionar el inventario de equipos y suministros en el SERVIU, optimizando a las necesidades y requistos pedidos.",
    image: "/BodegaGestion.png",
    tags: ["MySQL", "Django", "Next.js", "Python", "JavaScript", "Tailwind"],
    link: "#"
  },
];
---

<Layout title="Martin Beroiza - Analista Programador y Desarrollador Web">
  <div class="min-h-screen bg-background bg-corrugated bg-repeat">
    <Header />
    <main id="Inicio" class="px-4 py-12 md:py-20 lg:px-8 xl:px-16">
      <div class="max-w-6xl mx-auto">
        <header class="mb-24 md:mb-32 flex flex-col-reverse md:flex-row items-center gap-8 md:gap-12 lg:gap-16 min-h-[80vh]">
          <!-- Sección de texto -->
          <div class="md:w-1/2 px-4 md:px-0">
            <p class="text-2xl md:text-3xl lg:text-4xl mb-4 text-gray-100">
              Hola, soy <span class="text-accent underline decoration-2">Martin</span>
            </p>
            <h1 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold mb-6 md:mb-8 text-gray-50 leading-tight">
              Analista<br>Programador<span class="text-accent animate-pulse">.</span>
            </h1>
            <p class="text-xl md:text-2xl lg:text-3xl text-gray-200 leading-relaxed mb-8 md:mb-12 max-w-2xl">
              Especialista en desarrollo de soluciones digitales modernas y eficientes con enfoque en experiencia de usuario.
            </p>

            <!-- Botón de CV -->
            <a
              href="/cv.pdf"
              class="inline-flex items-center gap-3 px-8 py-4 md:px-10 md:py-5 bg-accent rounded-xl hover:bg-accent/90 transition-colors duration-200 text-lg md:text-xl text-gray-50"
            >
              Descargar CV
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                class="transform transition-transform duration-300 group-hover:translate-x-2"
              >
                <path d="M7 17L17 7M17 7H7M17 7V17" />
              </svg>
            </a>
          </div>

          <!-- Sección de imagen -->
          <div class="md:w-1/2 flex justify-center md:justify-end">
            <div class="relative translate-y-8 w-64 h-64 sm:w-72 sm:h-72 md:w-80 md:h-80 lg:w-96 lg:h-96 overflow-hidden rounded-full">
              <img
                src="/Imagengato.jpg"
                alt="Martin Beroiza"
                class="w-full h-full object-cover transform hover:scale-105 transition-transform duration-300"
                width="800"
                height="800"
                loading="eager"
                onerror="console.error('Error cargando imagen:', this.src)"
              />
            </div>
          </div>
        </header>

        <!-- Sección de tecnologías -->
        <TechStack/>

        <!-- Sección de proyectos -->
        <section id="proyectos" class="mt-20 md:mt-32">
          <div class="rounded-2xl md:rounded-3xl p-6 md:p-8 lg:p-12">
            <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-gray-50 mb-8 md:mb-12 text-center">
              Proyectos
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8">
              {projects.map((project) => (
                <div class="group block rounded-xl p-6 md:p-8 hover:bg-gray-100/10 transition-colors duration-200">
                  <div class="flex flex-col gap-6">
                    <div class="aspect-video overflow-hidden rounded-lg relative">
                      <img
                        src={project.image}
                        alt={project.title}
                        class="w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-300"
                        width="600"
                        height="400"
                        loading="lazy"
                      />
                      <!-- Botón circular sobre la imagen -->
                      <a href={project.link} class="absolute bottom-4 right-4 bg-gray-100 rounded-full w-12 h-12 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-900 transform rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7m0 0l7 7m-7-7v18" />
                        </svg>
                      </a>
                    </div>
                    <div>
                      <a href={project.link} class="hover:underline hover:decoration-accent transition-colors">
                        <h3 class="text-xl md:text-2xl font-semibold text-gray-50 mb-3">
                          {project.title}
                        </h3>
                      </a>
                      <p class="text-gray-300 mb-4 text-sm md:text-base">
                        {project.description}
                      </p>
                      <div class="flex flex-wrap gap-2">
                        {project.tags.map((tag) => (
                          <span class="px-2.5 py-1 bg-gray-100/20 text-gray-100 text-xs md:text-sm rounded-full">
                            #{tag}
                          </span>
                        ))}
                      </div>
                    </div>
                  </div>
                </div>
              ))}
            </div>
          </div>
        </section>

        <AboutMe />
      </div>
    </main>

    <Footer />
  </div>
</Layout>